@model ListFarmerWeb.Models.CiftciAddViewModel;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <form asp-controller="Farmer" asp-action="Add">
        İsim: <input asp-for="Ciftci.Isim" /><br />
        <button type="submit">Add</button>
    </form>
</body>
</html>
