@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giris</title>
</head>
<body>
    <div>
        <form id="formGiris" runat="server">
            <div>
                <span>Kullanıcı Adı:</span> <TextBox runat="server" id="KullaniciAdi">sadasd</TextBox>
                <br />
                <span>Şifre:</span><TextBox runat="server" id="Sifre" TextMode="Password"></TextBox>
                <br />
                <Button id="Gonder" runat="server">Gonder</Button>         
            </div>
        </form>
    </div>
</body>
</html>
